footer.footer.bg-dark.text-white
  .container
    .row
      .col-md-6
        p Copyright © 2023 La Saoulerie
      .col-md-6.text-right
        a(href="#").text-decoration-none Mentions légales 
        span.separator | 
        a(href="#").text-decoration-none Politique de confidentialité