nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.container-fluid
    .container.p-2 
        a.navbar-brand(href="/") Accueil
        .navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
            a.nav-link(href="/liste-bieres") Liste des bières
            li.nav-item
            a.nav-link(href="/boisson-du-mois") Boisson du mois
            li.nav-item
            a.nav-link(href="/contact") Contact
